<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head><meta http-equiv="content-type" content="text/html; charset=utf-8"><meta name="description" content="Your description goes here"><meta name="keywords" content="your,keywords,goes,here"><meta name="author" content="Your Name"><link rel="stylesheet" type="text/css" href="andreas00.css" media="screen,projection"><title>Research</title></head><body>
<div id="wrap">
	<div id="header">
		<h1><a href="#">Maxence Lefèvre</a></h1>
		<p><strong>Research topics</strong></p>
	</div>

	<div id="leftside">
		<h2 class="hide">Sample menu:</h2>
		<ul class="avmenu"><li><a href="index.html">General Information</a></li>
			<li><a class="current" href="Research.html">Research</a></li>
			<li><a href="Publications.html">Publications</a></li>
			<li><a href="CV.html">CV</a></li>
		</ul>
	</div>

<div id="contentwide">
		<h2>Research interests</h2>
		<p>My research is the study of the dynamics of the atmosphere on various body, into the solar system and beyond, and especially smaller-scale atmospheric phenomena: turbulence, waves and instabilities.<br> To pursue the investigations, I use numerical modeling to simulate the dynamics of the atmosphere. For global scale modeling I use <a href="http://lmdz.lmd.jussieu.fr/?set_language=en">LMDz</a> able to reproduce Earth, Mars, Venus, Titan and even exoplanets atmospheric dynamics. For small-scale studies I develop a mesoscale/LES model for Venus and Exoplanets based on <a href="https://www.mmm.ucar.edu/weather-research-and-forecasting-model">WRF</a> dynamical core and LMDz physics.<br> During my postdoctorat at the University of Oxford, I developped a new model based on the <a href="https://www2.mmm.ucar.edu/people/bryan/cm1/CM1">CM1 core</a> to study the atmosphere of exoplanets and brown dwarfs. </p>
		<h2>Venus</h2>
		<p>The recent missions provided insight of the small-scale turbulence inside the Atmosphere of Venus. The NASA mission <i>Pioneer Venus</i> measured a mixed layer into the clouds, between approximately 50 and 55 km. In-situ measurements by the Soviet Balloons <i>VeGa</i> show vertical wind of about 3 m/s, convective activity is taking place in this mixed layer. This convective layer has been measured by several <i>Venera</i> missions and the <i>Megellan</i> mission. The European mission <i>Venus Express</i> with the radio-occulation experiment VERA observed this layer. The depth varies with latitude with a maximum of 10 km around 75°. Small-scale gravity waves has also been observed by the camera VMC onboard of <i>Venus Express</i> at the top of the cloud layer (about 70 km). The convection generates gravity waves both above and below the convective layer, these waves propagates both horizontally and vertically. The goal of the Venus LES model developed at LMD is to study this turbulence. Turbulence and small scale are visible in the picture below taken by the Japanese mission <i>Akatsuki</i>.I have coupled the convection model to the Venus chemical network, and the variabilities due small-scale turbulence have been quantified for the first time.</p> 
		<center>
		<p><img src="images/uvi_20170114_170446_PRGB_l2b_v10.jpg" height="300" width="300" class="center2" alt="Example content image"><br> </p>
		</center> 
		<p></p>
		<p>The <i>Akatsuki</i>instrument LIR observed stationnary bow-shape wave at top of the cloud above the main topographic features of the tropics. The length of these waves can up to 10 000 km and ast around 10 earth days. These waves are thought to be mountain wave. The LMD mesoscale model has been developped to address this study and is able to resolve such wave features and brang more understanding in the vertical propagation of waves in the context Venus atmospheric stability profile.<br>Using the mesoscale, I studied the </p>
		<h2>Exoplanets</h2>
		The habitable zone (HZ) is classically defined as the range of orbital distances for which a planet can sustain water in liquid phase at the surface, providing a potentially suitable environment (surface, liquid water, photons) for the emergence of life as we know it on Earth. Depending on the rotation state and the atmospheric composition of the planet, various processes can either extend or narrow the HZ. While the presence of greenhouse gases tends to increase the surface temperature, the radiative effect of clouds can be much more subtle. Clouds can scatter (and thus reflect) as well as absorb a significant part of incident stellar radiation. But they can also absorb (and scatter) the infrared thermal emission from the surface and the atmosphere, and then reemit (or back scatter, respectively) infrared thermal radiation back to the surface
		<center>
		<p><img src="images/pia22093-16.jpg" height="300" width="500" class="center" alt="Example content image"><br> </p>
		</center>
		On Earth, the relative ratio between cloud-free and cloudy area in the tropics have a strong effect on the mean temperature. It is therefore crucial to know the composition, thickness, and vertical and horizontal spatial distributions of these clouds to correctly evaluate the state of the climate of the Earth and by extension of other planets in or outside of the solar system. <br> I developped a model a cloud-resolving model based on WRF and Generic PCM physics to study the convection at the sub-stellar point. This model has been applied for the Proxima-b case. 
		<h2>Brown dwarfs</h2>
		Since the first two confirmations of the observations of brown dwarfs, about 2000 similar objects have been observed, the vast majority of them free floating. These objects are classified into three types: L, T and Y dwarfs in decreasing temperature range. The L dwarfs are cooler than the M dwarf but exhibit similarities in photospheric chemical composition, containing alkali lines (K, Na), metal hybrids (FeH), oxides (TiO, VO), and water. The so-called L/T transition occurs at effective temperatures around 1100–1400 K. The L dwarfs appear redder in the color–magnitude diagram, with CO absorption, while T dwarfs appear bluer with stronger CH<SUB>4</SUB> absorption features. The chemical change is attributed to the cooling of the atmosphere. The L/T transition is presumably linked to the formation of iron and silicate clouds in the photosphere of L dwarfs, shifting them redder in the color–magnitude diagram. The Y dwarfs are colder and show H<SUB>2</SUB>O and CH<SUB>4</SUB> absorption bands in the near-infrared, as well as water cloud features.

		<center>
		<p><img src="images/275px-Artist_u2019s_conception_of_a_brown_dwarf_like_2MASSJ22282889-431026.jpg" height="300" width="300" class="center2" alt="Example content image"><br> </p>
		</center>
		The variability of the light curve in the IR is thought to be caused by inhomogeneous surface brightness due to rotational modulation, evolving over a few rotation periods, suggesting a rapid change of the surface features. The horizontal variation of the cloud and temperature structure could also play a role in this variability, but the mechanisms controlling clouds dynamics are still under investigation.<br> I build a convective-resolving model is coupled to gray-band radiative transfer in order to study the coupling between the convective atmosphere and the variability of clouds over a large temperature range with a domain of several hundred kilometers. MgSiO<SUB>3</SUB>, Fe, Al<SUB>2</SUB>O<SUB>3</SUB>, CaTiO<SUB>3</SUB>, Cr and MnS clouds are considered, with microphysics including settling.
        <h2>Titan</h2>
		Titan, the largest moon of Saturn, is characterized by its thick atmosphere whose surface pressure is similar to the Earth's.
Titan's weather is particularly active at all spatial scales: global (e.g., super-rotating winds), intermediate / mesoscale (e.g.,
convective thunderstorms, air-sea circulations), local (e.g., turbulence in the planetary boundary layer, the atmospheric
layer in direct contact with the surface).<br> The knowledge of Titan's atmosphere has been deeply renewed by the various fly-bys of the Cassini spacecraft from 2004 to 2017 and the landing of the Huygens probe in 2004. It is now well-known that Titan is characterized by a methane cycle akin to the hydrological cycle on Earth, with methane and hydrocarbons lakes, clouds, storms and precipitations. The seasonal cycle of Titan is pronounced and leads to global transport of volatiles and aerosols, and overturning wind circulations. On smaller scales, turbulence near the surface of Titan is potentially strong in daytime. The inquisite details of Titan's photochemistry is now revealed, with a specific emphasis on the formation of haze particles in the atmosphere and the deposition of organic particles at the surface. The aeolian environment of Titan is active, with a fifth of Titan's surface being covered by dunes fields and the organic dust particles at the surface being potentially transported by wind circulations at all scales.
		<center>
		<p><img src="images/Titan.jpg" height="200" width="900" class="center2" alt="Example content image"><br> </p>
		</center>
		The next milestone of the exploration of Titan is known: the Dragonfly mission, to be launched in 2027 and reaching Titan in
2034, will consist in flying a heavy, instrumented, quadcopter within the atmosphere of Titan to visit several sites of interest
and understand the geology, weather, exobiological environment of Titan. The landing site and first exploration region of
Dragonfly will be the Selk impact crater structure in the dark Shangri-La region, characterized by a surface rich in organic
dust particles organized as dune fields whose peculiar morphology probably involves two distinct wind regimes that remains
to be understood.<br>I am developping a mesoscale model to study the impact of surface characteristics like elevation, albedo or thermal inertia, on the dynamics of surface winds.
	</div>

	<div id="footer">
		<p><span>© <script type="text/javascript">document.write(new Date().getFullYear());</script> <a href="#">Maxence Lefèvre</a>
</span><br>
		Template design by <a href="http://andreasviklund.com/">Andreas Viklund</a></p>
	</div>

</div>
</body></html>
